 
:root {
  --main-bg: #1e1e1e;
  --main-txt: #ffffff;
  --header-bg: #272727;
  --scrollbar-bg: #ffffff;
  --a-txt: #ffffff;
  --lblue-light: #42f7f7;
  --lblue-dark: #40c9c9;
  --yellow-light: #f7f742;
  --yellow-dark: #dada45;
  --orange-light: #f78400;
  --orange-dark: #d87708;
  --blue-light: #0001e5;
  --blue-dark: #0c0cc2;
  --green-light: #42f742;
  --green-dark: #4bda4b;
  --red-light: #ee0004;
  --red-dark: #cf1215;
  --purple-light: #f742f7;
  --purple-dark: #e03de0;
  --ghost-light: #535353;
  --disabled-light: #535353;
  --disabled-dark: #464646;
  --debug-light: #ffffff;
  --debug-dark: #938bff;
  --background-light: #3a3a3a;
  --background-dark: #2c2c2c;
  --home-txt-2: #dbdbdb;
  --button-bg: #1b70f0;
  --button-bg-hover: #3783f5;
  --divider: #3b3b3b;
  --toggle-background: #2b2b2b;
  --toggle-thumb: #ffffff;
  --toggle-background-enabled: #3783f5;
  --pause-bg: #1b1b1b;
  --board-scale: calc(90vh / 20);
  --replay-data-bg: #2e2e2e;
  --replay-data-border: #383838;
  --error-txt: #ff6d6d;
}

/* funny colour */


@font-face {
  src: url(assets/Roboto-Medium.ttf);
  font-family: roboto_medium;
}
@font-face {
  src: url(assets/Roboto-MediumItalic.ttf);
  font-family: roboto_medium_italic;
}
@font-face {
  src: url(assets/Roboto-Bold.ttf);
  font-family: roboto_bold;
}
@font-face {
  src: url(assets/Roboto-BoldItalic.ttf);
  font-family: roboto_bold_italic;
}
@font-face {
  src: url(assets/Roboto-Black.ttf);
  font-family: roboto_black;
}
@font-face {
  src: url(assets/Roboto-BlackItalic.ttf);
  font-family: roboto_black_italic;
}
@font-face {
  src: url(assets/UbuntuMono-Regular.ttf);
  font-family: ubuntu_mono;
}

.push { /* pushes flexbox child to the right */
  margin-left: auto !important;
}

/* custom styles for default elements */
h1, h2, h3, h4 {
  font-family: roboto_bold;
  font-weight: normal !important;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

a, a:visited {
  color: var(--a-txt);
}

body {
  background-color: var(--main-bg);
  color: var(--main-txt);
  font-family: roboto_medium;
  padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: overlay;
  overflow-x: scroll;
  /*overflow-y: scroll;*/
  cursor: default;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.hidden {
  display: none !important;
}

.lblue .light {
  fill: var(--lblue-light);
}
.lblue .dark {
  fill: var(--lblue-dark);
}
.yellow .light {
  fill: var(--yellow-light);
}
.yellow .dark {
  fill: var(--yellow-dark);
}
.orange .light {
  fill: var(--orange-light);
}
.orange .dark {
  fill: var(--orange-dark);
}
.blue .light {
  fill: var(--blue-light);
}
.blue .dark {
  fill: var(--blue-dark);
}
.green .light {
  fill: var(--green-light);
}
.green .dark {
  fill: var(--green-dark);
}
.red .light {
  fill: var(--red-light);
}
.red .dark {
  fill: var(--red-dark);
}
.purple .light {
  fill: var(--purple-light);
}
.purple .dark {
  fill: var(--purple-dark);
}
.background .light {
  fill: var(--background-light);
}
.background .dark {
  fill: var(--background-dark);
}
.ghost .light {
  fill: var(--ghost-light);
}
.debug .light {
  fill: var(--debug-light);
}
.debug .dark {
  fill: var(--debug-dark);
}
.disabled .light {
  fill: var(--disabled-light);
}
.disabled .dark {
  fill: var(--disabled-dark);
}

.tetris-stuff {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--board-scale) * 1);
}

.board-wrapper { 
  height: auto;
  width: auto;
  max-height: 90vh;
  max-width: 90vw;
}

.side {
  height: calc(var(--board-scale) * 4);
}

.side-wrapper h2 {
  max-width: calc(var(--board-scale) * 4);
  width: calc(var(--board-scale) * 4);
  height: calc(var(--board-scale) * 1);
}

.template {
  display: none;
}

.home {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--main-bg);
  text-align: center;
  transition-duration: 250ms;
  opacity: 1;
  overflow-y: scroll;
  transition-duration: 250ms;
}
.home h1 {
  text-align: center;
  margin-top: 0.5em;
  font-size: 2.25em;
}
.home h2 {
  text-align: center;
  margin-top: 0.5em;
}
.home h3 {
  text-align: center;
  margin-top: 0.5em;
  color: var(--home-txt-2);
}

.button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: var(--button-bg);
  padding: 7px;
  border-radius: 7px;
  transition-duration: 250ms;
  font-size: 1.25em;
}

.button:hover {
  background-color: var(--button-bg-hover);
}

.divider {
  background-color: var(--divider);
  width: 100vw;
  height: 1px;
}

.toggle {
  height: 1.75em;
}
.toggle circle, .toggle rect {
  transition-duration: 250ms;
}
.toggle .thumb {
  fill: var(--toggle-thumb);
  transform: translateX(0px);
}
.toggle.enabled .thumb {
  transform: translateX(1px);
}
.toggle .background {
  fill: var(--toggle-background);
}
.toggle.enabled .background {
  fill: var(--toggle-background-enabled);
}

.settings {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  display: inline-block;
}
.setting {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
}

.setting h3 {
  font-size: 1.25em;
  margin: 0px;
  margin-left: 5px;
}

.pausemenu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--pause-bg);
  transition-duration: 250ms;
}

.side-text {
  font: normal 0.6px roboto_bold;
  fill: var(--main-txt);
}

.gameover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background: var(--main-bg);
  text-align: center;
  transition-duration: 250ms;
  overflow-y: scroll;
}

.gameover h1 {
  margin-top: 0.5em;
}

.gameover h2.scoretm {
  margin-top: 2em;
  margin-bottom: 3em;
  color: var(--home-txt-2);
}

.gameover h2 {
  margin-top: 2em;
}

.replay-data {
  background-color: var(--replay-data-bg);
  border: 2px solid var(--replay-data-border);
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
}
.gameover .replay-data {
  padding: 20px;
  padding-right: 10px;
}
.replay-data p {
  font-family: ubuntu_mono;
  margin: 0px;
  cursor: text;
  max-width: 30vw;
  max-height: 30vh;
  word-break: break-all;
  overflow-y: scroll !important;
  padding: 20px;
}
.gameover .replay-data p {
  padding: 0px;
}
.gameover .replay-stuff h3 {
  margin-top: 1em;
  margin-bottom: 3em;
}

.home .replay-stuff h3 {
  margin-top: 1em;
}
.home .replay-data p {
  min-width: 1em;
  min-height: 1em;
  word-break: break-all;
  max-width: 20vw;
  max-height: 20vh;
}

.replay-error {
  color: var(--error-txt) !important;
  transition-duration: 250ms;
}

input {
  background-color: var(--replay-data-bg);
  border: 1px solid var(--replay-data-border);
  font-size: 1.25em;
  color: var(--main-txt);
  width: 3em;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}